{{ define "container" }}
    <main class="container">
        <section>
            <a href="{{ "char" | relURL }}">Character ref & artwork</a>
        </section>

        <section class="limit-width posts">
            <h3>Recent Blog Posts</h3>

            <ul>
                {{ range first 3 (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a><time class="published-at mobile-hidden">{{ dateFormat "2006-01-02" .Date }}</li></time>
                {{ end }}
                <li class="text-center mt-1"><a href="{{ "blog" | relURL }}">Read More</a></li>
            </ul>
        </section>

        <section class="limit-width things-worked-on">
            <h3>Things I Work On</h3>

            {{ range .Site.Data.projects }}
                <div class="project">
                    <p class="project-name">
                        <a href="{{ .link }}" target="_blank">{{ .name }}</a>
                    </p>

                    <p>
                        {{ .desc | markdownify }}
                    </p>
                </div>
            {{ end }}
        </section>

        <section id="contact" class="limit-width contact">
            <h3>Get In Touch</h3>

            <table class="contact-table">
                {{ range .Site.Data.contact }}
                    <tr>
                        <td>{{ .name }}</td>
                        <td>
                            {{ if eq .link nil }}
                                {{ .display }}
                            {{ else }}
                                <a href="{{ .link }}" rel="me">{{ .display }}</a>
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            </table>
        </section>

        <section class="others">
            <h3>Other Things</h3>

            {{ range .Site.Data.others }}
                <div>
                    <a href="{{ .link }}">{{ .name }}</a>

                    {{ if ne .desc nil }}
                        &mdash; {{ .desc | markdownify }}
                    {{ end }}
                </div>
            {{ end }}
        </section>
    </main>
{{ end }}
